# Ignore everything https://jasonstitt.com/gitignore-whitelisting-patterns
/*

# Keep this file
!/.gitignore

# Keep these dirs and files
!/alacritty/
!/bashrc
!/dunst/
!/i3/
!/nvim/
!/polybar/
!/rofi/
!/wallpaper
!/zathura/
